<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>PropertyServlet</display-name>
    <servlet-name>PropertyServlet</servlet-name>
    <servlet-class>com.util.PropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyServlet</servlet-name>
    <url-pattern>/PropertyServlet</url-pattern>
  </servlet-mapping>
  <display-name>PropertyMng</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>editProperty</display-name>
    <servlet-name>editProperty</servlet-name>
    <servlet-class>com.util.editProperty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProperty</servlet-name>
    <url-pattern>/editProperty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProperty</display-name>
    <servlet-name>deleteProperty</servlet-name>
    <servlet-class>com.util.deleteProperty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProperty</servlet-name>
    <url-pattern>/deleteProperty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewProperty</display-name>
    <servlet-name>viewProperty</servlet-name>
    <servlet-class>com.util.viewProperty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewProperty</servlet-name>
    <url-pattern>/viewProperty</url-pattern>
  </servlet-mapping>
</web-app>